h1 {
    color: #000000;
    margin-top: 10%;
}

.task-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.task-card {
    max-width: 300px;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.task-img {
    width: 100%; /* Make the image fill its container */
    margin-bottom: 10px;
    height: 150px;
}

.task-details {
    color: #495057;
}

.task-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.expiration-date,
.location {
    margin-bottom: 5px;
    color: #6c757d;
}

.help-out-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.help-out-btn:hover {
    background-color: #218838;
}
body{
background-color: #ADD8E6;
}
.footer{
    position: absolute !important;
    top: 200% !important;
}
@media screen and (max-width: 1023px) {
    h1{
        margin-top: 30%;
    }
}